@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
li,ol,ul { list-style: none;}
a {text-decoration: none;}

header{
  width: 100%;
  height: 71px;
}

nav {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  transition: 2s ease-in-out;
  background-color: gold;
  opacity: 0.8;
}
nav.fixed {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}
nav>ul{}

nav>ul>li {
  float: left;
  width: 20%;
}
nav>ul>li>a {
  display: block;
  font-size: 20px;
  color: #666;
}
nav a.txtCh{color:green; }

#main {
  width: 100%;
  height: 800px;
  background: tomato;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.textbox{
  width: 40%;
  height: 80%;
  padding: 200px 0 0;
  font-family: sans-serif;
  animation-name: main;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  transition: all ease;
  background: lightcyan;
  
}
#main h1>span {
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #333;
}
#main h1>span:nth-child(2) {
  display: block;
  font-weight: 100;
}
#main h1 p {
  width: 400px;
  margin: 20px 0 0;
  text-align: left;
  line-height: 1.2;
  color: #888;
}
#main .main_btn{
  margin: 60px 0 0;
  text-align: left;
}
#main .main_btn:hover {opacity: 0.8; font-weight: bold;}
.btn1{
  margin-right: 50px;
  color: green;
  border: 1px solid green;
  border-radius: 4px;
  padding: 15px 50px;
}
.btn2{
 
  background-color: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 4px;
  padding: 15px 50px;
}
#main .intro {
  padding-left: 15%;
  padding-top: 5%;
  width: 60%;
  height: 80%;
  animation-name: intro;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  transition: all ease;
}
.introbox { 
  position: relative;
  width:71%;
  height: 85%;
  background-color: #c2edff;
  border-radius: 50%;
  text-align: center;
}
.introbox .in_main {
  width: 300px;
  margin-top: 65px;
  transition: all ease;
}
.introbox .in2 {
  position: absolute;
  top: -20px;
  right: -60px;
  width: 100px;
  animation-name: cloud;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition: all ease-in-out;
}
.introbox .in3 {
  position: absolute;
  top: 75px;
  right: 70px;
  width: 60px;
}
.introbox .in4 {
  position: absolute;
  top: 300px;
  right: -28px;
  width: 85px;
}
.introbox .in5 {
  position: absolute;
  top: 85px;
  left: -95px;
  width: 50px;
  animation-name: heart;
  animation-iteration-count: infinite;
  animation-delay: .3s;
  animation-duration: 2s;
  transition: all ease;
}
.scroll_arrow{
  width: 100%;
  text-align: center;

}

.scroll_arrow img {
  width: 100%;
}

#content {
  width: 100%;
  height: 1000px;
}
/* #content div {
  padding: 50px 0;
  background-image: url(../img/ohsczww5zuzxbuad__1080_790.jpg);
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 500px;
} */
#content .section1 {
  background: yellow;
  width: 100%;
  height: 100%;
  
}
#content .section1 h3{
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: sans-serif;
}
#content .section2 {
  background: aquamarine;
  width: 100%;
  height: 300px;
}
#content .section3 {
  background: lightblue;
  width: 100%;
  height: 300px;
}
#content .section4 {
  background: lightpink;
  width: 100%;
  height: 300px;
}
#content .section5 {
  width: 100%;
  height: 300px;
  background: lightcoral;
}
.scroll_arrow {
  width: 60px;
  height: 60px;
}
